<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ahlms"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ahlms_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AH_LMS">
        <activity
            android:name=".detailedactivity.FamilyDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".detailedactivity.myLeaveDeatailedActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".forget.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".login.splashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>